<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs", { username: email, active: "tools" }) %>
        <div class="find content">
            <form class="search" action="/tools/find" method="post">
                <input id="searchInput" type="text" name="search" placeholder="Search.." required>
	            <button type="submit"><i class="fa fa-search"></i></button>
                <button id="scanButton" type="button">Scan</button>
            </form>
            <ul class="search-list">
                <% if (locals.list && list.length > 0) { %>
                    <% list.forEach(tool => { %>
                        <li><a href="/tools/<%= tool.id %>"><%= `${tool.type} ${tool.name}, Size ${tool.size}` %></a></li>
                    <% }) %>
                <% } else if (locals.list) { %>
                    <p>Tool '<%= tool %>' cannot be found!</p>
                <% } %>
            </ul>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
    <script>
        
        scanButton.addEventListener("click", async () => {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    searchInput.value = this.responseText;
                }
            };
            xhttp.open("GET", "/nfc/getTag", true);
            xhttp.send();  

        });
    </script>
</html>