<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs", { active: "parts" }) %>
        <div class="details content">
            <h2><%= `${part.type} ${part.name}` %></h2>
            <div class="row" <%- part.available ? "style='border-left-color: darkcyan'" : "" %>>
                <p <%- part.available ? "style='color: forestgreen'" : "" %>><%= part.available ? "Available" : "Not Available" %></p>
                <p>Location</p>
                <p><label>Longitude : </label><label><%= part.location.coordinates[0] %></label></p>
                <p><label>Latitude : </label><label><%= part.location.coordinates[1] %></label></p>
                <p><%= part.desc %></p>
            </div>
            <a class="delete" data-id="<%= part.id %>"><i class="fa fa-trash"></i></a>
        </div>
        <%- include("./partials/footer.ejs") %>
        <script>
            const trash = document.querySelector('a.delete');

            trash.addEventListener('click', (event) => {
                const endpoint = `/parts/${trash.dataset.id}`;

                fetch(endpoint, {
                    method: 'delete',
                })
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });
        </script>
    </body>
</html>