<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs", { username: email, active: "services" }) %>
        <div class="default content">
            <h2>All Services</h2>
            <% if (vehicles.length > 0) { %>
                <% vehicles.forEach(vehicle => {  %>
                    <a class="row" href="/services/<%= vehicle.id %>"  style='border-left-color: darkcyan;'>
                        <h3><%= `${vehicle.carmake} ${vehicle.carmodel}, JobNo ${vehicle.job_num}` %></h3>
                        
                    </a>
                <% }) %>
            <% } else { %>
                <p>There are no vehicles to display...</p>
            <% } %>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>