<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs", { active: "tools" }) %>
        <div class="default content">
            <h2>All Tools</h2>
            <% if (tools.length > 0) { %>
                <% tools.forEach(tool => { %>
                    <a class="row" href="/tools/<%= tool.id %>" <%- tool.available ? "style='border-left-color: darkcyan'" : "" %>>
                        <h3><%= `${tool.type} ${tool.name}, Size ${tool.size}` %></h3>
                        <p><%= tool.available ? "Available" : "Not Available" %></p>
                    </a>
                <% }) %>
            <% } else { %>
                <p>There are no tools to display...</p>
            <% } %>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>